<!DOCTYPE html>
<html lang="en">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Ludum - Homepage</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/ludum.css" type="text/css" rel="stylesheet" media="screen,projection"/>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    </head>

    <body class="section-img">

        <!-- Navbar -->
        <nav class="orange lighten-1" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Ludum</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Create Tournament</a></li>
                    <li><a href="#">Sign in</a></li>
                </ul>

                <ul id="nav-mobile" class="sidenav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Create Tournament</a></li>
                    <li><a href="#">Sign in</a></li>

                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>

        <!-- CONTENT -->

        <!-- UPPER SECTION -->
        <div class="section">

            <div class="container">
                <br><br>

                <div class="row">
                    <div class="col s8 m8 l8">
                        <div class="card-panel">

                            <div class="row">

                                <div class="col s4 m4 l4"><h4>Join a Team</h4></div>

                                <div class="container right-align">
                                    <div class="row">
                                        <form method="post" action="/">

                                            <div class="input-field col s4 m4 l4">
                                                <!-- Dropdown Trigger -->
                                                <a class='dropdown-button btn' href='#' data-activates='choose-team-dropdown'>Choose a Team</a>

                                                <!-- Dropdown Structure -->
                                                <ul id='choose-team-dropdown' class='dropdown-content'>
                                                    <li><a href="#!">Team A</a></li>
                                                    <li><a href="#!">Team B</a></li>
                                                    <li><a href="#!">Team C</a></li>
                                                    <li><a href="#!">Team E</a></li>
                                                    <li><a href="#!">Team F</a></li>
                                                </ul>
                                            </div>


                                            <div class="col s4 m4 l4">
                                                <button class="btn waves-effect waves-light" type="submit" name="action">JOIN
                                                    <i class="material-icons right">send</i>
                                                </button>
                                            </div>

                                        </form>
                                    </div>



                                </div>


                            </div>


                        </div>
                    </div>
                </div>

                <br><br>
            </div>
        </div>


        <div class="row">
            <div class="center">
                <p class="footer white-text">ENSIM 4A INFO | Microprojet POO</p>
            </div>
        </div>


        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/init.js"></script>
        </div>
    </body>
</html>
