<!DOCTYPE html>
<html lang="en">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Ludum - Homepage</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/ludum.css" type="text/css" rel="stylesheet" media="screen,projection"/>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    </head>

    <body class="bg-yankee-blue">

        <!-- Navbar -->
        <nav class="orange lighten-1" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Ludum</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Create Tournament</a></li>
                    <li><a href="#">Sign in</a></li>
                </ul>

                <ul id="nav-mobile" class="sidenav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Create Tournament</a></li>
                    <li><a href="#">Sign in</a></li>

                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>

        <!-- CONTENT -->

        <!-- PROFILE SECTION -->
        <div class="section no-pad-bot section-img-alt">

            <div class="container">

                <br><br>

                <!-- Profil Info -->
                <div class="row center">
                    <!-- Pic -->
                    <img class="responsive-img circle" src="https://s1.qwant.com/thumbr/0x380/9/2/6a02bbfbb03ffde56b126fe6ed530f375f223ce99bd6606435026d9e37c991/CgkttIBW4AESjwC.png?u=https%3A%2F%2Fpbs.twimg.com%2Fmedia%2FCgkttIBW4AESjwC.png&q=0&b=1&p=0&a=1">   
                </div>

                <!-- Team --->
                <div class="row center">
                    <!-- Pic -->
                    <h5> Team Name </h5>    
                </div>
                
                <!-- RECORD --->
                <div class="row center">
                    <!-- Pic -->
                    <h5> RECORD </h5>    
                </div>

                <!-- Main Stats -->
                <div class="row center">
                    <div class="container">
                        <div class="col m4">
                            <h4>52</h4>
                            <p>Wins</p>
                        </div>

                        <div class="col m4">
                            <h4>68</h4>
                            <p>Loss</p>
                        </div>

                        <div class="col m4">
                            <h4>22</h4>
                            <p>Tie</p>
                        </div>
                    </div>
                </div>
            </div>

            <br><br>

        </div>

        <!-- SEARCH BAR SECTION -->
        <div class="section">

        </div>

        <!-- RESULTS SECTION -->
        <div class="section">

            <!-- MATCH RESULTS SECTION -->
            <div class="row center">
                <div class="container white-text">
                    <h5>LAST RESULTS</h5>
                </div>
            </div>

            <div class="row">
                <div class="container">

                    <div class="col s4 m4 l4 center-align">

                        <!-- MATCH CARD -->
                        <div class="card-panel grey lighten-2">
                            <div class="match-card-header">
                                <div class="match-card-title">
                                    <h4 class="match-card-title">Match Name</h4>
                                    <p class="match-card-date">Day Num, Week-Day Time | Lieu</p>
                                </div>
                            </div>
                            <div class="match-card-content">
                                <div class="row">
                                    <div class="col s3 m3 l3 center-align">

                                        <h4 class="margin">C9</h4>
                                        <p class="ultra-small">Cloud9</p>

                                    </div>

                                    <div class="col s2 m2 l2 center-align">

                                        <h4 class="margin">3</h4>

                                    </div>

                                    <div class="col s2 m2 l2 center-align">
                                        <h4 >VS</h4>
                                    </div>

                                    <div class="col s2 m2 l2 center-align">

                                        <h4 class="margin">2</h4>

                                    </div>

                                    <div class="col s3 m3 l3 center-align">
                                        <div class="flight-state">
                                            <h4 class="margin">TSM</h4>
                                            <p class="ultra-small">Team Solo Mid</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s6 m6 l6 center-align">
                                        <div class="match-info">
                                            <p class="small">Squishy</p>
                                            <p class="small">Squishy</p>
                                            <p class="small">Gimmick</p>
                                        </div>
                                    </div>

                                    <div class="col s6 m6 l6 center-align flight-state-two">
                                        <div class="flight-info">
                                            <p class="small">EyeIgnite</p>
                                            <p class="small">Remkoe</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END MATCH CARD -->

                    </div>


                    <div class="col s4 m4 l4 center-align">

                        <!-- MATCH CARD -->
                        <div class="card-panel grey lighten-2">
                            <div class="match-card-header">
                                <div class="match-card-title">
                                    <h4 class="match-card-title">Match Name</h4>
                                    <p class="match-card-date">Day Num, Week-Day Time | Lieu</p>
                                </div>
                            </div>
                            <div class="match-card-content">
                                <div class="row">
                                    <div class="col s3 m3 l3 center-align">

                                        <h4 class="margin">C9</h4>
                                        <p class="ultra-small">Cloud9</p>

                                    </div>

                                    <div class="col s2 m2 l2 center-align">

                                        <h4 class="margin">3</h4>

                                    </div>

                                    <div class="col s2 m2 l2 center-align">
                                        <h4 >VS</h4>
                                    </div>

                                    <div class="col s2 m2 l2 center-align">

                                        <h4 class="margin">2</h4>

                                    </div>

                                    <div class="col s3 m3 l3 center-align">
                                        <div class="flight-state">
                                            <h4 class="margin">TSM</h4>
                                            <p class="ultra-small">Team Solo Mid</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s6 m6 l6 center-align">
                                        <div class="match-info">
                                            <p class="small">Squishy</p>
                                            <p class="small">Squishy</p>
                                            <p class="small">Gimmick</p>
                                        </div>
                                    </div>

                                    <div class="col s6 m6 l6 center-align flight-state-two">
                                        <div class="flight-info">
                                            <p class="small">EyeIgnite</p>
                                            <p class="small">Remkoe</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END MATCH CARD -->

                    </div>

                    <div class="col s4 m4 l4 center-align">
                        
                        <!-- MATCH CARD -->
                        <div class="card-panel grey lighten-2">
                            <div class="match-card-header">
                                <div class="match-card-title">
                                    <h4 class="match-card-title">Match Name</h4>
                                    <p class="match-card-date">Day Num, Week-Day Time | Lieu</p>
                                </div>
                            </div>
                            <div class="match-card-content">
                                <div class="row">
                                    <div class="col s3 m3 l3 center-align">

                                        <h4 class="margin">C9</h4>
                                        <p class="ultra-small">Cloud9</p>

                                    </div>

                                    <div class="col s2 m2 l2 center-align">

                                        <h4 class="margin">3</h4>

                                    </div>

                                    <div class="col s2 m2 l2 center-align">
                                        <h4 >VS</h4>
                                    </div>

                                    <div class="col s2 m2 l2 center-align">

                                        <h4 class="margin">2</h4>

                                    </div>

                                    <div class="col s3 m3 l3 center-align">
                                        <div class="flight-state">
                                            <h4 class="margin">TSM</h4>
                                            <p class="ultra-small">Team Solo Mid</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s6 m6 l6 center-align">
                                        <div class="match-info">
                                            <p class="small">Squishy</p>
                                            <p class="small">Squishy</p>
                                            <p class="small">Gimmick</p>
                                        </div>
                                    </div>

                                    <div class="col s6 m6 l6 center-align flight-state-two">
                                        <div class="flight-info">
                                            <p class="small">EyeIgnite</p>
                                            <p class="small">Remkoe</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END MATCH CARD -->

                    </div>

                </div>
            </div>

            <!-- TOURNAMENT RESULTS SECTION -->
            
            <div class="row center">
                <div class="container white-text">
                    <h5>LAST TOURNAMENTS</h5>
                </div>
            </div>


            <div class="row">
                <div class="container">

                    <div class="col s6 m6 l6 center-align">
                        
                        <!-- TOURNAMENT CARD -->
                        <div class="card-panel grey lighten-2">
                            <div class="match-card-header">
                                <div class="match-card-title">
                                    <h4 class="match-card-title">Tournament Name</h4>
                                    <h5 class="match-card-date">Lieu</h5>
                                    <h4 class="match-card-date">Start Date - End Date</h4>
                                </div>
                            </div>
                            <div class="match-card-content">

                                <div class="row">
                                    <div class="col s12 m12 l12 center-align">

                                        <h4 class="margin">Classement</h4>
                                        <p class="ultra-small">Current Team</p>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s12 m12 l12 center-align">

                                        <h4 class="margin">Winner</h4>
                                        <p class="ultra-small">Cloud9</p>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- END TOURNAMENT CARD -->

                    </div>


                    <div class="col s6 m6 l6 center-align">

                        <!-- TOURNAMENT CARD -->
                        <div class="card-panel grey lighten-2">
                            <div class="match-card-header">
                                <div class="match-card-title">
                                    <h4 class="match-card-title">Tournament Name</h4>
                                    <h5 class="match-card-date">Lieu</h5>
                                    <h4 class="match-card-date">Start Date - End Date</h4>
                                </div>
                            </div>
                            <div class="match-card-content">

                                <div class="row">
                                    <div class="col s12 m12 l12 center-align">

                                        <h4 class="margin">Classement</h4>
                                        <p class="ultra-small">Current Team</p>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s12 m12 l12 center-align">

                                        <h4 class="margin">Winner</h4>
                                        <p class="ultra-small">Cloud9</p>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- END TOURNAMENT CARD -->

                    </div>

                </div>
            </div>
            <!-- END TOURNAMENT RESULTS SECTION -->

        </div>



        <div class="row">
            <div class="center">
                <p class="footer white-text">ENSIM 4A INFO | Microprojet POO</p>
            </div>
        </div>


        <!--  Scripts -->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/init.js"></script>

    </body>
</html>
