<!DOCTYPE html>
<html lang="en">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Ludum - Homepage</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="../css/ludum.css" type="text/css" rel="stylesheet" media="screen,projection"/>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">


        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    </head>

    <body class="section-img">

        <!-- Navbar -->
        <nav class="orange lighten-1" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Ludum</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Create Tournament</a></li>
                    <li><a href="#">Sign in</a></li>
                </ul>

                <ul id="nav-mobile" class="sidenav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Create Tournament</a></li>
                    <li><a href="#">Sign in</a></li>

                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>

        <!-- CONTENT -->

        <!-- UPPER SECTION -->
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <br><br>

                <div class="row">

                    <!-- LEFT PART -->
                    <div class="col s6 m6">

                        <div class="row">
                            <h1 class="col left orange-text">CREATE</h1>
                        </div>

                        <div class="row">
                            <h1 class="col left orange-text">YOUR OWN</h1>
                        </div>

                        <div class="row">
                            <h1 class="left orange-text">TOURNAMENTS</h1>
                        </div>

                        <div class="row">
                            <a href="create-tournatment.html" class="btn-large waves-effect waves-light orange">Create Tournament</a>
                        </div>

                    </div>

                    <!-- RIGHT PART -->
                    <div class="col s6 m6">

                        <div class="container">
                            <!-- Inline Form -->
                            <div class="row">
                                <form class="col s12">
                                    <div class="row">
                                        <div class="input-field col s10 offset-s1">
                                            <input id="last_name" type="text" class="validate">
                                            <label for="last_name">Username</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s10 offset-s1">
                                            <input id="password" type="password" class="validate">
                                            <label for="password">Password</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s10 offset-s1 center-align">
                                            <button class="btn waves-effect waves-light" type="submit" name="action">
                                                Submit
                                                <i class="material-icons right">send</i>
                                            </button>
                                        </div>
                                    </div>
                                </form>


                            </div>


                        </div>

                        <br><br>
                    </div>

                </div>

            </div>

            <br><br>

        </div>

        <!-- LOWER SECTION -->
        <div class="section">
            <div class="container">
                <!--   Icon Section   -->
                <div class="row">
                    <div class="center">
                        <div class="icon-block">
                            <h2 class="center orange-text"><i class="material-icons">flash_on</i></h2>
                            <h5 class="center white-text">Fast and Easy</h5>

                            <p class="light white-text">Description</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="center">
                <p class="footer white-text">ENSIM 4A INFO | Microprojet POO</p>
            </div>
        </div>


        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="..js/materialize.js"></script>
        <script src="..js/init.js"></script>

    </body>
</html>
